node_modules
.env
scripts/interactions/.seed-wallets.json
scripts/interactions/.market9-bettor-b.json

# Hardhat
artifacts
cache
coverage
coverage.json
typechain-types
ignition/deployments

# Editors
.vscode/*
!.vscode/extensions.json
